<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Full Stax</title> 
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
		{{!-- <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>  --}} 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
<body>  
	
 <div class="hero-section">
  <div class="hero-section-text">
    <h1>Full Stax Record Swap</h1>
    <h4>Swap & Meet New Music & Mates</h> 
  </div>
</div>

    {{{ body }}}   

    
	{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
	<script type="text/javascript" src="/js/login.js"></script>	 
	<script type="text/javascript" src="/js/signup.js"></script> 
	<script type="text/javascript" src="/js/members.js"></script> 
	<script type="text/javascript" src="/js/albums.js"></script> 
	<script type="text/javascript" src="/js/songs.js"></script> 
	<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script> 
	<script src="/js/musicPlayer.js"></script>
			
</body>
</html> 



