<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Full Stax</title>
		<script src="https://code.jquery.com/jquery.js"></script>   
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	</head>
	<body>  
		{{{ body }}}
	</body>
</html>