<div class="grid-container">
  <div class="grid-x">
    <div class="cell medium-6">
       <h2>Sign Up Here</h2>
        <form class="signup">
          <label>Email Address
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </label> 
          <label>Password
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </label> 
            <label for="exampleFileUpload" class="button">Submit</label>
      </form>
    </div> 
    <div class="cell medium-6">
       <h2>Login Here</h2>
      <form class="login">
          <label>Email Address
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </label> 
          <label>Password
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </label>  
          <label for="exampleFileUpload" class="button">Submit</label>
      </form> 
    </div>
  </div>
</div>
  
  
  
  
  



 